</div>  <!-- /container -->
</div>  <!-- /segment-breadcrumb -->

<div id="wrapper">  <!-- wrapper -->

{% include sidebar.html %}

<!--

    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <lh class="sidebar-brand">Contents:</lh>
            <li><a href="#">Another link</a></li>
            <li><a href="#">Next link</a></li>
            <li><a href="#">Last link</a></li>
        </ul>

    </div>
-->
<div id="page-content-wrapper">  <!-- page content wrapper -->
  <div class="page-content">  <!--page content -->
    <div class="container">  <!-- container -->
      <div class="row">  <!-- row -->
       <div class="inner-wrapper"> <!-- inner-wrapper -->
         <div class="col-md-12">  <!--col -->
            <!-- content of page -->
